# SQL Tasks for cadidate

## Notice

### Using stake
- Interpetator used: Python 3.11
- SQL Dialect: SQLite

### General info
- Today is 01.09.2023
- Datasets is representation of two groups of clients with debts, active or closed.

### Data
#### Overdraft
- Dataframe: overdraft_test_data.csv
- Columns: client_id, fromdate, todate, ovrdduration, debt

#### Credit
- Dataframe: credit_test_data.csv
- Columns: client_id, fromdate, todate, ovrdduration, debt

*in description, we will assume data types as it is real SQL Table or View.*
DESCRIPTION IS FOR BOTH DATASETS
- Description:
    - **CLIENT_ID (INTEGER):**
      unique client identification, key to credit_test_data
    - **FROMDATE (INTEGER):**
      date start for client account with overdraft (Using INTEGER due to SQLite restrictions, assume DATE)
    - **PLAN_TODATE (INTEGER):**
      date where client obliged to close the debt (Using INTEGER due to SQLite restrictions, assume DATE)
    - **TODATE (INTEGER):**
      date end for client account with overdraft (Using INTEGER due to SQLite restrictions, assume DATE)
      if still active debt - NaT or more then today date
    - **DEBT (REAL):**
      sum of debt owed by client
    - **CREDIT_TYPE (TEXT):**
      'type_0' for overdraft
      'type_1' for credit

In [1]:
import pandas as pd
import pandasql as ps
from check_answers import *

In [2]:
overdraft_df = pd.read_csv(
    'assets/overdraft_test_data.csv', 
    index_col=0,
    dtype={
        'client_id': 'int',
        'debt': 'float',
        'credit_type': 'str'
    }
)
for col in ['fromdate', 'todate', 'plan_todate']:
    overdraft_df[col] = pd.to_datetime(overdraft_df[col])

ps.sqldf(
    '''
    SELECT OD.*
    FROM overdraft_df OD
    LIMIT 5
    ''', locals()
)

,client_id,fromdate,plan_todate,todate,debt,credit_type
0,0,2022-06-14 00:00:00.000000,2022-11-21 00:00:00.000000,2023-06-09 00:00:00.000000,123631.34,type_0
1,1,2022-08-10 00:00:00.000000,2022-12-08 00:00:00.000000,2023-08-04 00:00:00.000000,0.00,type_0
2,2,2022-08-29 00:00:00.000000,2022-11-28 00:00:00.000000,2023-08-24 00:00:00.000000,0.00,type_0
3,3,2022-02-25 00:00:00.000000,2022-12-05 00:00:00.000000,2023-02-24 00:00:00.000000,0.00,type_0
4,4,2022-09-13 00:00:00.000000,2022-11-28 00:00:00.000000,2023-09-08 00:00:00.000000,0.00,type_0

In [3]:
credit_df = pd.read_csv(
    'assets/credit_test_data.csv', 
    index_col=0,
    dtype={
        'client_id': 'int',
        'debt': 'float',
        'credit_type': 'str'
    }
)
for col in ['fromdate', 'todate', 'plan_todate']:
    credit_df[col] = pd.to_datetime(credit_df[col])
    
ps.sqldf(
    '''
    SELECT CD.*
    FROM credit_df CD
    LIMIT 5
    ''', locals()
)

,client_id,fromdate,plan_todate,todate,debt,credit_type
0,0,2022-10-14 00:00:00.000000,2025-10-14 00:00:00.000000,None,0.0,type_1
1,1,2022-07-14 00:00:00.000000,2025-07-14 00:00:00.000000,None,0.0,type_1
2,2,2022-11-14 00:00:00.000000,2025-11-14 00:00:00.000000,None,0.0,type_1
3,3,2022-09-14 00:00:00.000000,2025-09-12 00:00:00.000000,None,0.0,type_1
4,4,2022-12-14 00:00:00.000000,2025-12-12 00:00:00.000000,None,0.0,type_1

# TASK #0
Assume that we using postgreSQL db for the moment, with sqlalchemy as lib to create engine.
Below is data for connect, your task is to create connection string from it.

NOTICE - you will use engine creation function as it already imported. No need to import again

In [4]:
# GIVEN DATA

DD: str = 'postgresql+psycopg2' # dialect and driver
USERNAME: str = 'candidate'
PASSWORD: str = 'simplepass'
HOST: str = 'localhost'
PORT: str = '5432'
DATABASE: str = 'db'

In [5]:
# # UNCOMMENT AND ENTER YOUR SOLUTION AND RUN TO CHECK THE ANSWER
# create_engine(f'''''')

## TASK #1
Calculate overduration for each debt (each row) with rules as:
1. ONE QUERY
2. Date is TODAY (see general description)

In [6]:
# # UNCOMMENT AND ENTER YOUR SOLUTION
# answer_df_1: pd.DataFrame = ps.sqldf(
#     '''
#     
#     ''', locals()
# )
# answer_df_1

In [7]:
# # UNCOMMENT AND RUN TO CHECK THE RESULTS
# 
# check_answer_one(answer_df=answer_df_1)

## TASK #2

Using data from Task #1 find:
  - debts in different credit types with max overdduration. **NAME COL "MAX_OVRD"**
  - this debts must have fromdate after 31.12.2022
  - for result df add row numbers. **NAME COL "ROW_NUM"**

In [8]:
# answer_df_2: pd.DataFrame = ps.sqldf(
#     '''
#     
#     ''', locals()
# )
# answer_df_2

In [9]:
# # UNCOMMENT AND RUN TO CHECK THE RESULTS
# 
# check_answer_two(answer_df=answer_df_2)

## TASK #3
Query all unique clients from answer_df_1 which have id that starts with **3** and end with **5** with any length of id.
ORDER BY THIS ID.

In [10]:
# answer_df_3: pd.DataFrame = ps.sqldf(
#     '''
#     
#     ''', locals()
# )
# answer_df_3

In [11]:
# # UNCOMMENT AND RUN TO CHECK THE RESULTS
# 
# check_answer_three(answer_df=answer_df_3)